@font-face {
	font-family: Tehzeeb;
	src: url(Overlock_SC/OverlockSC-Regular.ttf);
}

.about {
    height: 70vh;
    background-image: url(Images/Aboutus4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about1 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 70px;
}
.caro-head{
    height: 100vh;
    background-color: antiquewhite;
    padding: 80px 100px;
}
.db{
    height: 80vh;
    width: 130vh;
    display:flex;
    align-items: center;
    border: 20px solid white;
}
h1{
    color:  #583422;
    text-align: center;
    font-family: Tehzeeb;
    font-weight: bolder;
}
.ourpromise1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ourpromise1 h3{
    font-family: Tehzeeb;
    color:  #583422;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.ourpromise1 p{
    text-align: center;
}
.ourpromise1 img{width: 50px;margin-bottom: 20px;}
.promise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*for order form*/
.contact{
    background-color:rgb(240 248 238);
}
.form{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}
form{border-right: 1px solid #583422;}
textarea{resize: none;}
form span{
    font-weight: bold;
    color: #dc3545;
}
.content span{
    cursor: pointer;
    color: #000;
    display: block;
    font-weight: normal;
    font-size: 14px;
}
.back{
    background-image: url(Images/Bakery39.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: bottom;
    height: 150px;
}
/*for order form*/

/*for product*/
.pro-head{
    background-image: url(Images/pro-background.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}
.pro-head p,
.Order-head p,
.gift-head p,
.tea-head p{font-size: 18px;}

.card-head h2,
.gift-content h2,
.tea-content h2{
    font-family: Tehzeeb;
    margin: 30px 0px 0px 120px;
    color: #7c3d1e;
}
.fa-chevron-right{font-size: 20px;}
article{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
}
article div{
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 4px;
}
article h3{
    font-size: 18px;
    font-family: Tehzeeb;
    color: #7c3d1e;
    margin: 20px 0px 0px 20px;
}
article div h6{
	color: black;
	font-size: 18px;
    font-weight: 600;
    font-family: Tehzeeb;
	display: inline-block;
    margin: 0px 0px 20px 20px;
}
article div span{
	color: #9E9E9E;
	font-size: 15px;
}
article div img{
    width: 300px;
    height:300px;
    border-radius: 10px 10px 0px 0px;
}
.car-but{
    background-color: #fedfda;
	color:  #7c3d1e;
	border: 1px solid #7c3d1e;
	padding: 2px 12px;
    margin-left: 50px;
	font-size: 17px;
	font-weight: bold;
	font-family: Tehzeeb;
}
.car-but:hover{
    border: 1px solid #7c3d1e;
	background-color: #7c3d1e;
	color: #fedfda;
}
.car-but a{color: #7c3d1e;}
.car-but a:hover{color: #fedfda;}
/*for product*/

/*for order*/
.Order-head{
    background-color: #fde4e1;
}
.Order-bottom{
    background-image: url(Images/Special-background.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 178px;
}
.order-product{
    background-color: #e4edec;
}
.theme{background-color: #fdebea;}
.theme h1{
    font-size: 40px;
    padding: 60px 0px 30px 0px;
}

/*for order*/

/*for gift*/
.gift-head{
        background-image: url(Images/Gift-background.webp);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px;
}
.gift-content button,.tea-content button{margin-left: 100px;}
/*for gift*/


/*for tea time*/
.tea-head{
    background-image: url(Images/tea-time.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
}
/*for tea time*/

@media(max-width: 1030px) {
    .db { width: 100vh; }
    .promise p { font-size: 13px; }
    .ourpromise { padding: 0px !important; margin: 0px !important; }
    .shadow h6, .shadow h3 { margin: 0px 0px 0px 10px; }
    .car-but { margin-bottom: 10px; }
}

@media(max-width: 770px) {
    .caro-head { height: 90vh; }
    .db { width: 92vh; height: auto; }
}

@media(max-width: 430px) {
    .about1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about1 p { width: 70%; }
    .caro-head { height: auto; padding: 10px 0; }
    .caro-head img { border: 5px solid #fff; width: 60vh; }
    .ourpromise1 { flex-wrap: wrap; }
    .Order-head { padding-top: 40px; }
    .Order-bottom { height: 126px; }
    .Order-head p, .order-product p { width: 50vh; }
    .theme div { flex-wrap: wrap; }
    .theme div p { margin: 0 !important; padding-bottom: 40px; }
    .contact-page h1 { padding-top: 50px !important; }
    .contact-page div { font-size: 12px; padding-top: 0 !important;}
    .contact .form { flex-wrap: wrap; }
    form { border: none; }
    .card-head h2 { margin-left: 60px; }
}

@media(max-width: 380px) {
    .theme div p { margin: 0 30px !important; }
    .contact-page div { margin: 0 41px; }
}

@media(max-width: 330px) {
    .caro-head img { width: 50vh; }
    .pro-head { padding: 50px; }
    .card-head h2 { margin-left: 30px; }
}